* {
  outline: 1px solid tom55ato;
}

.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
}

.header .inner {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  line-height: 40px;
  color: white;
}

.header .inner h2 img {
  width: 100px;
  height: 100px;
}

.header .inner ul {
  display: flex;
  gap: 40px;
  margin: 25px 0 0 150px;
}

.header .inner .util {
  display: flex;
  margin: 25px 0 0 0;
  gap: 30px;
}

.header .inner .util a {
  font-size: 15px;
}

.header .inner strong {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 27px;
  width: 150px;
  height: 30px;
  color: white;
  background-color: #ffbe33;
  border-radius: 45px;
}

.mainVisual {
  position: relative;
}

.mainVisual .desc {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 999;
}

.mainVisual .desc h2 {
  padding: 40px 0;
  font-size: 40px;
}

.mainVisual .desc p {
  line-height: 30px;
  padding: 20px 0;
}

.mainVisual .desc strong {
  display: inline-block;
  background-color: #ffbe33;
  border-radius: 45px;
  text-align: center;
  line-height: 27px;
  width: 150px;
  height: 30px;
  font-size: 16px;
}

.mainVisual .burger_slide figure img {
  height: 100vh;
  width: 100%;
}

.mainVisual .burger_slide .slick-dots {
  position: absolute;
  top: 60%;
  left: 23.5%;
  transform: translate(-50%, 0);
}

.mainVisual .burger_slide .slick-dots > li {
  display: inline-block;
  width: 20px;
  height: 10px;
  gap: 30px;
  background: #ffbe33;
  margin: 0 2px;
  border-radius: 2px;
}

.mainVisual .burger_slide .slick-dots > li.slick-active {
  background: #333;
}

.mainVisual .burger_slide .slick-dots > li button {
  display: none;
}

.subMenual {
  padding: 100px;
}

.subMenual .inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 30px;
}

.subMenual .inner .left,
.right {
  display: flex;
  position: relative;
  gap: 50px;
  background-color: #222831;
  border-radius: 20px;
  color: #fff;
  width: 600px;
  height: 250px;
  line-height: 55px;
  padding: 25px 0 0 10px;
  justify-content: center;
}

.subMenual .inner img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border: 5px solid #ffbe33;
}

.subMenual .inner .desc {
  margin: 20px 0 0 0;
}

.subMenual .inner .desc h3 {
  font-size: 19px;
}

.subMenual .inner .desc p {
  font-size: 35px;
  font-weight: 800;
  padding: 0 0 10px 0;
}

.subMenual .inner .desc span {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 30px 0;
  background: #ffbe33;
  line-height: 28px;
  border-radius: 20px;
  width: 150px;
  height: 30px;
}

.mainContent {
  text-align: center;
  padding: 0 0 80px 0;
}

.mainContent h2 {
  font-size: 30px;
  font-weight: 500;
}

.mainContent ul {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  padding: 40px 0;
  font-weight: 500;
}

.mainContent .inner {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

.mainContent .inner .img {
  width: 390px;
  height: 420px;

  position: relative;
}

.mainContent .inner .img .img_box {
  background: #f1f2f3;
  border-radius: 15px;
}

.mainContent .inner .img img {
  width: 197px;
  height: 200px;
  padding: 15px 0;
}

.mainContent .inner .detail {
  position: absolute;
  width: 390px;
  height: 145px;
  line-height: 25px;
  background: #222831;
  border-radius: 20px;
  padding: 10px 0 0 0;
  top: 61.2%;
  left: 50%;
  gap: 10px;
  color: #f1f2f3;
  transform: translate(-50%, -50%);
}

.mainContent .inner .detail h3 {
  font-size: 20px;
  font-weight: 600;
}

.mainContent .inner .detail p {
  font-size: 13px;
  font-weight: 300;
}

.mainContent .inner .detail span {
  font-size: 14px;
}

.mainContent .inner .detail button {
  padding: 1px 5px 0 3px;
  line-height: 12px;
  color: #f1f2f3;
  background: #ffbe33;
  border: none;
  margin: 0 0 0 5px;
  text-align: center;
}

.mainContent strong {
  padding: 5px 35px;
  border-radius: 20px;
  color: #f1f2f3;
  font-size: 13px;
  background: #ffbe33;
}

.SubContent {
  padding: 100px 0;
  height: 680px;
  background: #222831;
}

.SubContent .inner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 110px;
}

.SubContent .inner figure img {
  height: 500px;
}

.SubContent .inner .detail {
  line-height: 40px;
}

.SubContent .inner .detail h3 {
  font-size: 30px;
  font-weight: 500;
  color: #f1f2f3;
  padding: 60px 0 50px 0;
}

.SubContent .inner .detail p {
  font-size: 16px;
  color: #f1f2f3;
  padding: 0 0 25px 0;
}

.SubContent .inner .detail strong {
  font-size: 16px;
  color: #f1f2f3;
  background: #ffbe33;
  border-radius: 20px;
  padding: 0 25px;
}

.finalSection {
  padding: 100px 0;
}

.finalSection .inner {
  display: flex;
  width: 1200px;
  flex: 1;
  margin: 0 auto;
  gap: 30px;
}

.finalSection .inner .input {
  line-height: 93.5px;
}

.finalSection .inner .input h3 {
  font-size: 30px;
  font-weight: 600;
}

.finalSection .inner .input input {
  width: 585px;
  height: 50px;
  border-radius: 10px;
}

.finalSection .inner .map iframe {
  border-radius: 15px;
  width: 585px;
}

.footer {
  padding: 70px 0;
  background: #222831;
}

.footer .inner {
  display: flex;
  flex: 1;
  width: 1200px;
  margin: 0 auto;
  text-align: center;

  color: #f1f2f3;
}

.footer .inner ul {
  display: flex;
  margin: 0 0 0 150px;
  padding: 8px 0 35px 0;
  gap: 5px;
}

.footer .inner .contact {
  width: 400px;
  line-height: 30px;
}

.footer .inner .contact h2 {
  font-size: 25px;
  font-weight: 500;
  padding: 0 0 10px 0;
}

.footer .bottom {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  color: #f1f2f3;
}
